

@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
   font-family: "Newsreader", serif;
  color: rgb(0, 0, 0);
}
/* src/app/globals.css or your main CSS file */

/* For Webkit browsers (Chrome, Safari, Edge, Opera) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  border-radius: 4px; /* Makes it slightly rounded */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 4px; /* Matches the scrollbar handle */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners for the handle */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovering over the scrollbar handle */
}

/* For Firefox (less customization options) */
.custom-scrollbar {
  scrollbar-width: thick; /* "auto" or "thin" */
  scrollbar-color: #888 #f1f1f1; /* thumb and track color */
}